body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fbedf4;
}

.donut-icon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

h2,
.card-title {
  font-weight: bold;
}

.card {
  height: 95%;
  overflow: hidden;
  padding: 5px;
  margin: 5px;
}
